:root {
    --color-foreground: #006aa7;
    --color-background: #fecc02;
}

a {
    color: var(--color-foreground);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

main ul {
    list-style: none;
}

main li::after {
    content: "";
    display: block;
    border: solid var(--color-foreground);
    border-width: thin thin 0;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
    margin-right: 0.5em;
}
